database
main/ledgerData
main/database
main/store
main/__debug_bin
main/main
module/store/store
./log
.idea
**/*.exe
**/*.log
release
bin
*.log.*
/config-sql/
**/crypto-config/
/testdata
*/main
test/*/main
build
pkg
tools
tools/cmc/cmc
!tools/
/data/
/log/
.DS_Store
nohup.out
main/chainmaker
vendor
cover.out
test/send_proposal_request_ci/data/
test/send_proposal_request_ci/chainmaker
/tools/chainmaker-cryptogen/
