database
main/ledgerData
main/database
main/store
main/__debug_bin
main/main
module/store/store
./log
module/vm/main
.idea
**/*.exe
**/*.log
release
bin
*.log.*
**/go.sum
/module/vm/wasm/wasmer/wasmer_runtime_c_api.dll
/config/
/config-sql/
**/crypto-config/
/testdata
*/main
test/*/main
build
pkg
tools
tools/cmc/cmc
!tools/
/data/
/log/
.DS_Store
/module/vm/test/*/tmp/
nohup.out
main/chainmaker
vendor
cover.out