database
main/ledgerData
main/database
main/store
main/__debug_bin
main/main
module/store/store
./log
module/vm/main
.idea
**/*.exe
**/*.log
release
bin
*.log.*
**/go.sum
/module/vm/wasm/wasmer/wasmer_runtime_c_api.dll
/config/dev/certs/
/config/wx-org1/certs/
/config/wx-org2/certs/
/config/wx-org3/certs/
/config/wx-org4/certs/
**/crypto-config/
/testdata
*/main
test/*/main
build
pkg
tools
!tools/
/data/
/log/
.DS_Store
